<!DOCTYPE html>
<html>
<body style="margin: 0">

<div class="body">
  <div style="display: flex;justify-content: center;">
    <div class="category-title">
      Prediction Menu
    </div>
  </div> 

  <div class="second-division">
    <div class="half-questions">
      <div class="questions">
        <label>State?</label>
        <select id="engine" [(ngModel)]="selectState"  > <!--(change)="onEngineChange()"-->
          <option value="" disabled selected>Select an option</option>
          <option value="Andaman and Nicobar Island">Andaman and Nicobar Island</option>
          <option value="Andhra Pradesh">Andhra Pradesh</option> 
          <option value="Arunachal Pradesh">Arunachal Pradesh</option>
          <option value="Assam">Assam</option>
          <option value="Bihar">Bihar</option>
          <option value="CHANDIGARH">CHANDIGARH</option>
          <option value="Chhattisgarh">Chhattisgarh</option>
          <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
          <option value="Daman and Diu">Daman and Diu</option>
          <option value="Delhi">Delhi</option>
          <option value="Goa">Goa</option>
          <option value="Gujarat">Gujarat</option>
          <option value="Haryana">Haryana</option>
          <option value="Himachal Pradesh">Himachal Pradesh</option>
          <option value="Jammu and Kashmir">Jammu and Kashmir</option>
          <option value="Kerala">Kerala</option>
          <option value="Laddak">Laddak</option>
          <option value="Madhya Pradesh">Madhya Pradesh</option>
          <option value="Maharashtra">Maharashtra</option>
          <option value="Manipur">Manipur</option>
          <option value="Meghalaya">Meghalaya</option>
          <option value="Mizoram">Mizoram</option>
          <option value="Nagaland">Nagaland</option>
          <option value="Puducherry">Puducherry</option>
          <option value="Punjab">Punjab</option>
          <option value="Rajasthan">Rajasthan</option>
          <option value="Sikkim">Sikkim</option>
          <option value="THE DADRA AND NAGAR HAVELI">THE DADRA AND NAGAR HAVELI</option>
          <option value="Tamil Nadu">Tamil Nadu</option>
          <option value="Telangana">Telangana</option>
          <option value="Uttar Pradesh">Uttar Pradesh</option>
          <option value="Uttarakhand">Uttarakhand</option>
          <option value="West Bengal">West Bengal</option>
        </select>
      </div>
      <div class="questions">
        <label>Crop?</label>
        <select id="engine" [(ngModel)]="selectCrop"  > <!--(change)="onEngineChange()"-->
          <option value="" disabled selected>Select an option</option>
          <option value="Arecanut">Arecanut</option>
          <option value="Arhar/Tur">Arhar/Tur</option>
          <option value="Bajra">Bajra</option>
          <option value="Banana">Banana</option>
          <option value="Barley">Barley</option>
          <option value="Black pepper">Black pepper</option>
          <option value="Cardamom">Cardamom</option>
          <option value="Cashewnut">Cashewnut</option>
          <option value="Castor seed">Castor seed</option>
          <option value="Coconut">Coconut</option>
          <option value="Coriander">Coriander</option>
          <option value="Cotton(lint)">Cotton(lint)</option>
          <option value="Cowpea(Lobia)">Cowpea(Lobia)</option>
          <option value="Dry chillies">Dry chillies</option>
          <option value="Garlic">Garlic</option>
          <option value="Ginger">Ginger</option>
          <option value="Gram">Gram</option>
          <option value="Guar seed">Guar seed</option>
          <option value="Horse-gram">Horse-gram</option>
          <option value="Jowar">Jowar</option>
          <option value="Jute">Jute</option>
          <option value="Khesari">Khesari</option>
          <option value="Linseed">Linseed</option>
          <option value="Maize">Maize</option>
          <option value="Masoor">Masoor</option>
          <option value="Mesta">Mesta</option>
          <option value="Moong(Green Gram)">Moong(Green Gram)</option>
          <option value="Moth">Moth</option>
          <option value="Niger seed">Niger seed</option>
          <option value="Oilseeds total">Oilseeds total</option>
          <option value="Onion">Onion</option>
          <option value="Other  Rabi pulses">Other  Rabi pulses</option>
          <option value="Other Cereals">Other Cereals</option>
          <option value="Other Kharif pulses">Other Kharif pulses</option>
          <option value="Other Summer Pulses">Other Summer Pulses</option>
          <option value="Peas & beans (Pulses)">Peas & beans (Pulses)</option>
          <option value="Potato">Potato</option>
          <option value="Ragi">Ragi</option>
          <option value="Rapeseed &Mustard">Rapeseed &Mustard</option>
          <option value="Rice">Rice</option>
          <option value="Safflower">Safflower</option>
          <option value="Sannhamp">Sannhamp</option>
          <option value="Sesamum">Sesamum</option>
          <option value="Small millets">Small millets</option>
          <option value="Soyabean">Soyabean</option>
          <option value="Sugarcane">Sugarcane</option>
          <option value="Sunflower">Sunflower</option>
          <option value="Sweet potato">Sweet potato</option>
          <option value="Tapioca">Tapioca</option>
          <option value="Tobacco">Tobacco</option>
          <option value="Turmeric">Turmeric</option>
          <option value="Urad">Urad</option>
          <option value="Wheat">Wheat</option>
          <option value="other oilseeds">other oilseeds</option>
        </select>
      </div>
      <div class="questions">
        <label>Plantation area of this year?</label>
        <input type="text" required [(ngModel)]="pa1">
      </div>
      <div class="questions">
        <label>Plantation area of the former year?</label>
        <input type="text" required [(ngModel)]="pa2">
      </div>
      <div class="questions">
        <label>Plantation area from 2 years ago?</label>
        <input type="text" required [(ngModel)]="pa3">
      </div>
      <div class="questions">
        <label>Plantation area from 3 years ago?</label>
        <input type="text" required [(ngModel)]="pa4">
      </div>
    </div>  
    <div class="half-questions">
      <div class="questions">
        <label>Production of the former year?</label>
        <input type="text" required [(ngModel)]="prod1">
      </div>
      <div class="questions">
        <label>Production of the past 2 years?</label>
        <input type="text" required [(ngModel)]="prod2">
      </div>
      <div class="questions">
        <label>Production of the past 3 years?</label>
        <input type="text" required [(ngModel)]="prod3">
      </div>
      <div class="questions">
        <button style="margin-top: 20px;" [disabled]="!isSubmitButtonEnabledPredict()" (click)="submitFormPredict()">Submit</button>
      </div>
      
    </div>
  </div>  
  <div id="response_div" class="response-div" *ngIf="responseData">
    <label class="label-div" style="font-size: 30px;padding-bottom: 5px">Results</label>
    <div style="overflow-x: hidden; overflow-y: scroll;" id="result_div">

        <div class="response" *ngIf="responseData.length == 0">No results provided with the given information</div>

        <div class="response">

          <div class="answer-div">
            Yield: {{responseData.Yield  | number:'1.3-3'}}
          </div>
        </div>
    </div>
  </div>  
</div>  
</body>


<script>
  
</script>
</html>

